{% extends 'layouts/interface.html' %} 
{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <a href="/events"type="button" class="btn btn-warning btn-lg btn-block">
      Add or edit events
    </a>
    <hr />
    <a href="/config/profile/name" type="button" class="btn btn-primary btn-lg btn-block">
      Edit your Profile information
    </a>
    <a href="/config/skills"type="button" class="btn btn-success btn-lg btn-block">
      Add or edit Skills on your Profile
    </a>
    <a href="/config/account"type="button" class="btn btn-danger btn-lg btn-block">
      Change your account information
    </a>
  </div>
</div>

{% endblock %}


